################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhotoSort/v15
/bin/Debug
/obj/Debug
/obj/Release
/.vs
/PhotoSort/.vs/PhotoSort/v15
/PhotoSort/bin/Debug
/PhotoSort/obj
