################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhotoSort/v15
/bin/Debug
/obj/Debug
